<section class="content-header" >
    <h1>
        连接管理
        <small>添加设备</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">连接管理</li>
    </ol>
</section>
<section class="content">
    <form class="form-horizontal" role="form" method = "post" action = 'starter' onsubmit="submitInfo()">
        <div class="box-body">
            <div class="form-group"><label for="device_name" class="col-sm-3 control-label">设备名称：</label>
                <div class="col-sm-5"><input type="text" class="form-control" id="device_name"></input></div>
            </div>
            <div class="form-group"><label for="driver_type" class="col-sm-3 control-label">驱动类型：</label>
                <div class="col-sm-5">
                <!--<select class="form-control" id="driver_type"  style="width: 100%;">-->
                   <!--<option  th:each="list:${list222}" th:text="${list}"></option>-->
                <!--</select></div>-->
                <select class="form-control" id="driver_type" >
                    <!--<option th:each="li:${lists}" th:value="${li}" th:each="areaInfo:${list222}" th:value="${areaInfo}" th:text="${areaInfo}"></option>-->
                    <!--<option  th:each="lists:${list_attr}" th:text="${lists}">aaa</option>-->
                    <!--<option  th:text="${list_name}">bbb</option>-->
                </select>
                </div>
            </div>
            <div class="form-group"><label for="channel_name" class="col-sm-3 control-label">通道名：</label>
                <div class="col-sm-5"><input type="text" class="form-control" id="channel_name"></input>
                </div>
            </div>
            <div class="form-group"><label for="device_model" class="col-sm-3 control-label">设备模型：</label>
                <div class="col-sm-5"><select class="form-control" id="device_model" style="width: 100%;">
                    <option selected="selected">请选择设备模型</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label for="brand" class="col-sm-3 control-label">品牌：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="brand"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="model_number" class="col-sm-3 control-label">型号：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="model_number"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="Address" class="col-sm-3 control-label">IP地址：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="Address"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="Port" class="col-sm-3 control-label">端口号：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="Port"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="BackupAddress" class="col-sm-3 control-label">Backup IP：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="BackupAddress"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="BackupPort" class="col-sm-3 control-label">BackupPort：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="BackupPort"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="DeviceAddress" class="col-sm-3 control-label">设备地址：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="DeviceAddress"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="MaxPackageLen" class="col-sm-3 control-label">最大包长：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="MaxPackageLen"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="PackageSpace" class="col-sm-3 control-label">最大包间隔：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="PackageSpace"></input>
                </div>
            </div>

            <div class="form-group"><label for="LongType" class="col-sm-3 control-label">32位整形字节顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="LongType" style="width: 100%;">
                    <option selected="selected">FFH4321</option>
                    <option >FFH3421</option>
                    <option>FFH1234</option>
                    <option>FFH2143</option>
                </select>
                </div>
            </div>


            <div class="form-group"><label for="FloatType" class="col-sm-3 control-label">32位浮点数字节顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="FloatType" style="width: 100%;">
                    <option selected="selected">FFH4321</option>
                    <option >FFH3421</option>
                    <option>FFH1234</option>
                    <option>FFH2143</option>
                </select>
                </div>
            </div>


            <div class="form-group"><label for="AddrOrder" class="col-sm-3 control-label">寄存器地址顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="AddrOrder" style="width: 100%;">
                    <option selected="selected">HighBefore---高字节在前</option>
                    <option >LowBefore---低字节在前</option>
                </select>
                </div>
            </div>

            <div class="form-group"><label for="CountOrder" class="col-sm-3 control-label">寄存器个数顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="CountOrder" style="width: 100%;">
                    <option selected="selected">HighBefore---高字节在前</option>
                    <option >LowBefore---低字节在前</option>
                </select>
                </div>
            </div>

            <div class="form-group"><label for="DataOrder" class="col-sm-3 control-label">寄存器数据顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="DataOrder" style="width: 100%;">
                    <option selected="selected">HighBefore---高字节在前</option>
                    <option >LowBefore---低字节在前</option>
                </select>
                </div>
            </div>

            <div class="form-group"><label for="DoubleOrder" class="col-sm-3 control-label">double解析顺序：</label>
                <div class="col-sm-5"><select class="form-control" id="DoubleOrder" style="width: 100%;">
                    <option selected="selected">HL---正序</option>
                    <option >LH---反序</option>
                </select>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">描述：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" rows="3" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-info ">添加设备</button>
                </div>
            </div>
        </div>
    </form>
</section>

<script>
    $(function(){
        $.ajax({
            type: "get",
            async : true,
            url: "drivertype/get",
            success: function(data) {
                var html="<option>请选择驱动类型</option>";
                $.each(data, function(i,item) {
                    console.log(item);
                    html += "<option>"+item+"</option>";
                });
                $("#driver_type").html('').append(html);
            },error: function() {
                alert("失败");
            }
        });
    });

    $(function(){
        $.ajax({
            type: "get",
            async : true,
            url: "dev-template/get",
            success: function(data) {
                var html="<option>请选择模板</option>";
                $.each(data, function(i,item) {
                    console.log(item);
                    html += "<option>"+item+"</option>";
                });
                $("#device_model").html('').append(html);
            },error: function() {
                alert("失败");
            }
        });
    });
    function submitInfo(){
        var device_name = $.trim($('#device_name').val());
        var driver_type = $.trim($('#driver_type').val());
        var channel_name = $.trim($('#channel_name').val());
        var device_model = $.trim($('#device_model').val());
        var brand = $.trim($('#brand').val());
        var model_number = $.trim($('#model_number').val());
        var description = $.trim($('#description').val());

        var Address = $.trim($('#Address').val());
        var Port = $.trim($('#Port').val());
        var BackupAddress = $.trim($('#BackupAddress').val());
        var BackupPort = $.trim($('#BackupPort').val());
        var DeviceAddress = $.trim($('#DeviceAddress').val());
        var MaxPackageLen = $.trim($('#MaxPackageLen').val());
        var PackageSpace = $.trim($('#PackageSpace').val());
        var LongType = $.trim($('#LongType').val());
        var FloatType = $.trim($('#FloatType').val());
        var AddrOrder = $.trim($('#AddrOrder').val());
        var CountOrder = $.trim($('#CountOrder').val());
        var DataOrder = $.trim($('#DataOrder').val());
        var DoubleOrder = $.trim($('#DoubleOrder').val());
        if (AddrOrder==="HighBefore---高字节在前"){
            AddrOrder = "HighBefore";
        }else if(AddrOrder==="LowBefore---低字节在前") {
            AddrOrder = "LowBefore";
        }
        if (CountOrder==="HighBefore---高字节在前"){
            CountOrder = "HighBefore";
        }else if(CountOrder==="LowBefore---低字节在前") {
            CountOrder = "LowBefore";
        }
        if (DataOrder==="HighBefore---高字节在前"){
            DataOrder = "HighBefore";
        }else if(DataOrder==="LowBefore---低字节在前") {
            DataOrder = "LowBefore";
        }
        if (DoubleOrder==="HL---正序"){
            DoubleOrder = "HL";
        }else if(DoubleOrder==="LH---反序") {
            DoubleOrder = "LH";
        }


//        console.log(device_name+driver_type+channel_name+device_model+brand+model_number+description);
//        alert(Address+Port+BackupAddress+BackupPort+DeviceAddress+MaxPackageLen+PackageSpace);
//        alert(LongType+FloatType+AddrOrder+CountOrder+DataOrder+DoubleOrder);
        $.ajax({
            type : "post",
            async : true,
            contentType : "application/json;charset=utf-8",
            dataType : 'json',
            url : "device/add",
            data:JSON.stringify({
                "device_name":device_name,
                "driver_type":driver_type,
                "channel_name":channel_name,
                "device_model":device_model,
                "brand":brand,
                "model_number":model_number,
                "description":description,
                "Address":Address,
                "Port":Port,
                "BackupAddress":BackupAddress,
                "BackupPort":BackupPort,
                "DeviceAddress":DeviceAddress,
                "MaxPackageLen":MaxPackageLen,
                "PackageSpace":PackageSpace,
                "LongType":LongType,
                "FloatType":FloatType,
                "AddrOrder":AddrOrder,
                "CountOrder":CountOrder,
                "DataOrder":DataOrder,
                "DoubleOrder":DoubleOrder
            }),
            success : function (data) {
                //alert("添加通道成功");
                //alert(data.msg);
            },error : function(data){
                //alert("失败");
                alert(data.responseText);
            }
        });

//        $.ajax({
//            type : "post",
//            async : true,
//            contentType : "application/json;charset=utf-8",
//            dataType : 'json',
//            url : "device/add-test",
//            success : function () {
//                alert("成功");
//            },error : function(){
//                alert("失败");
//            }
//        });
    }
</script>