
<section class="content-header">
    <h1>
        连接器信息
    </h1>
</section>
<section class="content">

    <div class="col-md-offset-1">

            <ul class="nav nav-pills">
                <li class="active"><a href="#tab_1-1" data-toggle="pill">基本信息</a></li>
                <li><a href="#tab_1-2" data-toggle="pill">控制器</a></li>
                <li ><a href="#tab_1-3" data-toggle="pill">变量</a></li>
                <!--<li class="pull-left header"><i class="fa fa-th"></i> Custom Tabs</li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane  fade in active" id="tab_1-1">
                    <div class="box box-widget ">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="#">模型概览 </a>
                            </li>
                            <li>
                                <a href="#">基本属性 </a>
                            </li>
                            <li>
                                <a href="#">监控属性</a>
                            </li>
                            <li>
                                <a href="#">报警设置</a>
                            </li>
                            <li>
                                <a href="#">控制操作</a>
                            </li>
                            <li>
                                <a href="#">模型配件</a>
                            </li>
                            <li>
                                <a href="#">信息板</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_1-2">
                    <div class="box box-widget ">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="#">模型概览 </a>
                            </li>
                            <li>
                                <a href="#">基本属性 </a>
                            </li>
                            <li>
                                <a href="#">监控属性</a>
                            </li>
                            <li>
                                <a href="#">报警设置</a>
                            </li>
                            <li>
                                <a href="#">控制操作</a>
                            </li>
                            <li>
                                <a href="#">模型配件</a>
                            </li>
                            <li>
                                <a href="#">信息板</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab_1-3">
                    <div class="box box-widget ">
                        <ul class="nav nav-stacked">
                            <li>
                                <a href="#">模型概览 </a>
                            </li>
                            <li>
                                <a href="#">基本属性 </a>
                            </li>
                            <li>
                                <a href="#">监控属性</a>
                            </li>
                            <li>
                                <a href="#">报警设置</a>
                            </li>
                            <li>
                                <a href="#">控制操作</a>
                            </li>
                            <li>
                                <a href="#">模型配件</a>
                            </li>
                            <li>
                                <a href="#">信息板</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

</div>
</section>
