<script src="AdminLTE-2.3.11/My97DatePicker/WdatePicker.js"></script>
<section class="content-header">
    <h1>连接管理
        <small>模型管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">模型管理</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box box-widget">
            <div class="box-header">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-btn-type="add" data-toggle="modal"
                            data-target="#myModal">新增
                    </button>
                    <button type="button" class="btn btn-default" data-btn-type="edit">编辑</button>
                    <button type="button" class="btn btn-default" data-btn-type="delete" id="delete" onclick="delete_modal()">删除</button>
                </div>
            </div>

            <!--  table-bordered      /.box-header -->
            <div class="box-body">
                <table id="example1" class=" table  table-striped table-hover display ">
                    <thead>
                    <tr>
                        <th>模型名称</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                        <th>描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>-->
                        <!--<td><a href="javascript:void(0);" id="template_info" onclick="template_info()">编号1</a></td>-->
                        <!--<td>Safari 2.0</td>-->
                        <!--<td>OSX.4+</td>-->
                        <!--<td>419.3</td>-->
                        <!--<td>A</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#">Webkit</a></td>-->
                        <!--<td>Safari 3.0</td>-->
                        <!--<td>OSX.4+</td>-->
                        <!--<td>522.1</td>-->
                        <!--<td>A</td>-->
                    <!--</tr>-->
                    </tbody>
                    <tfoot>
                    <!--<tr>-->
                        <!--<th>Rendering engine</th>-->
                        <!--<th>Browser</th>-->
                        <!--<th>Platform(s)</th>-->
                        <!--<th>Engine version</th>-->
                        <!--<th>CSS grade</th>-->
                    <!--</tr>-->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新增设备模型
                </h4>
            </div>
            <div class="modal-body" id="modal_body">
                <form class="form-horizontal" role="form" id="my_form" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="model_name" class="col-md-3 control-label">模型名称：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="model_name"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">创建时间:</label>
                            <div class="input-group col-md-8">
                                <!--<input type="text" class="form-control pull-right datepicker" id="create_time"-->
                                <!--placeholder="dd/mm/yyyy"></input>-->
                                <input class="Wdate pull-right" id="create_time" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})"></input>
                                <!--<div class="input-group-addon">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">修改时间:</label>
                            <div class="input-group col-md-8">
                                <!--<input type="text" class="form-control pull-right datepicker" id="modify_time"-->
                                <!--placeholder="dd/mm/yyyy"></input>-->
                                <input class="Wdate pull-right" id="modify_time" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd HH:mm:ss'})"></input>
                                <!--<div class="input-group-addon">-->
                                <!--<i class="fa fa-calendar"></i>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-3 control-label">模型描述：</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" id="description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="test_modal()">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js"></script>
<script src="js/adminlte.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="AdminLTE-2.3.11/datatables.net/js/jquery.dataTables.js"></script>
<script src="AdminLTE-2.3.11/datatables.net-bs/js/dataTables.bootstrap.js"></script>

<script>
    var temp_table = null;
    $(function () {
        temp_table = $('#example1').DataTable({
            "processing": true,
            "bPaginage": true,
            "bSort": false,
            "paginationType": "full_numbers",
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条",
                "sZeroRecords": "没有找到符合条件的数据",
                "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                "sInfoEmpty": "没有记录",
                "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                "sSearch": "搜索",
                "sProcessing": "数据加载中...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "尾页"
                }
            }
        });
        $('#example1 tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
                console.log("进入了if分支");
            }
            else {
                temp_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                console.log("进入了else分支");
            }
        } );

        $.ajax({
            type: "get",
            async: true,
            url: "dev-template/get",
            success: function (data) {
                /*<![CDATA[*/
                for (var i=0;i<data.length;++i){
                    temp_table.row.add([
                        '<a href="javascript:void(0);" onclick="template_info(this)">'+data[i]+'</a>',
                        '2017-12-18 19:05:34',
                        '2017-12-18 21:05:34',
                        '描述信息测试',
                        '编辑 删除'
                    ]).draw();
                }
                /*]]>*/
                //alert("所有的模型名称："+data);
            }, error: function (msg) {
                alert(msg.responseText);
            }
        });
    });

    function template_info(target) {
        console.log("点击的标签的内容是"+$(target).text());
        $.ajax({
            type: "POST",
            async: true,
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "model_name": $(target).text(),
            }),
            url: "template_info",
            success: function (data) {
                $("#mainDiv").html(data);
            }, error: function (msg) {
                alert(msg.responseText);
            }
        });
    }
    var model_name = null;
    function test_modal() {
        model_name = $.trim($('#model_name').val());
        var create_time = $.trim($('#create_time').val());
        var modify_time = $.trim($('#modify_time').val());
        var description = $.trim($('#description').val());
        //alert(model_name+"\t"+create_time+"\t"+modify_time+"\t"+description);
        console.log("before");
        temp_table.row.add([
            '<a href="javascript:void(0);" onclick="template_info(this)">'+model_name+'</a>',
            create_time,
            modify_time,
            description,
            '.5'
        ]).draw();
        console.log("after");

        var json = {};
        $.ajax({
            type: "post",
            async: true,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            url: "dev-template/add",
            data: JSON.stringify({
                "model-name": model_name,
                "create-time": create_time,
                "modify-time": modify_time,
                "descript": description,
            }),
            success: function (msg) {
                //alert(msg + "添加设备模板成功");
            }, error: function (msg) {
                alert(msg.responseText);
            }
        });
    }

    function delete_modal() {
        console.log("删除按钮进行了点击操作")
        temp_table.row('.selected').remove().draw(false);
    }
</script>
