<html xmlns:th="http://www.thymeleaf.org">
<div class="box box-widget">
    <div class="box-header">
        <div class="btn-group">
            <button type="button" class="btn btn-default" data-btn-type="add" data-toggle="modal"
                    data-target="#myModal">新增
            </button>
        </div>
    </div>

    <div class="box-body">
        <table id="example1" class=" table table-striped table-hover display ">
            <thead>
            <tr>
                <th>名称</th>
                <th>数据类型</th>
                <th>描述</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>变量1</td>
                <td>int32--32位有符号整数</td>
                <td>描述信息</td>
                <td><a href="#">编辑</a></td>
                <td><a href="#">删除</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    新增变量
                </h4>
            </div>
            <div class="modal-body" id="modal_body">

                <form class="form-horizontal" role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="var_name" class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="var_name"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ScanRate" class="col-sm-3 control-label">轮询方式：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="ScanRate" style="width: 100%;">
                                    <option selected="selected">慢速周期</option>
                                    <option>中速周期</option>
                                    <option>快速周期</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HL" class="col-sm-3 control-label">高低字节：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="HL" style="width: 100%;">
                                    <option selected="selected">H--高字节</option>
                                    <option>L--低字节</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Area" class="col-sm-3 control-label">区域：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="Area" style="width: 100%;">
                                    <option selected="selected">CO区---线圈状态区</option>
                                    <option>DI区---输入状态区</option>
                                    <option>HR区---保持寄存器区</option>
                                    <option>AI区---输入寄存器区</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Address" class="col-sm-3 control-label">偏移地址：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="Address"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ControlBit" class="col-sm-3 control-label">按位读取：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="ControlBit" style="width: 100%;">
                                    <option selected="selected">否</option>
                                    <option>是</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="BitOffset" class="col-sm-3 control-label">位偏移：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="BitOffset"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dataLength" class="col-sm-3 control-label">数据长度：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="dataLength"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="DataType" class="col-sm-3 control-label">数据类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="DataType" style="width: 100%;">
                                    <option selected="selected">bool--0-1开关量</option>
                                    <option>char--8位有符号整数</option>
                                    <option>byte--8位有符号整数</option>
                                    <option>short--16位有符号整数</option>
                                    <option>word--16位无符号整数</option>
                                    <option>int32--32位有符号整数</option>
                                    <option>dword--32位无符号整数</option>
                                    <option>float--32单精度浮点数</option>
                                    <option>BCD码--无符号BCD码</option>
                                    <option>int64--64位有符号整数</option>
                                    <option>uint64--64位无符号整数</option>
                                    <option>double--64位双精度浮点数</option>
                                    <option>string--ascii码字符串</option>
                                    <option>buffer--字节数组</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="VarType" class="col-sm-3 control-label">变量类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="VarType" style="width: 100%;">
                                    <option selected="selected">开关量</option>
                                    <option>模拟量</option>
                                    <option>字符串</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="read_write" class="col-sm-3 control-label">读写方式：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="read_write" style="width: 100%;">
                                    <option selected="selected">readwrite</option>
                                    <option>read-only</option>
                                    <option>write-only</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RawMax" class="col-sm-3 control-label">裸数据上限：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="RawMax"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RawMin" class="col-sm-3 control-label">裸数据下限：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="RawMin"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RangeMax" class="col-sm-3 control-label">量程上限：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="RangeMax"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RangeMin" class="col-sm-3 control-label">量程下限：</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="RangeMin"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="DataChange" class="col-sm-3 control-label">量程变换：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="DataChange" style="width: 100%;">
                                    <option selected="selected">否</option>
                                    <option>是</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="3" id="description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="test_var()">
                    确定
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="AdminLTE-2.3.11/bootstrap/js/bootstrap.min.js"></script>
<script src="js/adminlte.min.js"></script>
<script src="AdminLTE-2.3.11/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="AdminLTE-2.3.11/datatables.net/js/jquery.dataTables.js"></script>
<script src="AdminLTE-2.3.11/datatables.net-bs/js/dataTables.bootstrap.js"></script>

<script th:inline="javascript">
    var model_name;
    /*<![CDATA[*/
    model_name= [[${model_name}]];
    console.log("点击新增变量了---"+model_name);
    /*]]>*/
    var temp_table = null;
    $(function () {
        temp_table = $('#example1').DataTable({
            "processing": true,
            "bPaginage": true,
            "bSort": false,
            "paginationType": "full_numbers",
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条",
                "sZeroRecords": "没有找到符合条件的数据",
                "sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
                "sInfoEmpty": "没有记录",
                "sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
                "sSearch": "搜索",
                "sProcessing": "数据加载中...",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "尾页"
                }
            }
        });
        $('#example1 tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
                console.log("进入了if分支");
            }
            else {
                temp_table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                console.log("进入了else分支");
            }
        } );

        $.ajax({
            type: "post",
            async: true,
            url: "dev-template/getvar",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                "model_name":model_name,
            }),
            success: function (data) {
                console.log(data.length);
                console.log(data);
                /*<![CDATA[*/
                for (var i=0;i<data.length;++i){
                    var obj = data[i];
                    var name = obj["name"];
                    var description = obj["description"];
                    var dataType = obj["dataType"];
                    console.log(name+"\t"+description+"\t"+dataType);
                    temp_table.row.add([
                        name,
                        dataType,
                        description,
                        '编辑',
                        '删除'
                    ]).draw();
                }
                /*]]>*/

                //alert("所有的模型名称："+data);
            }, error: function (msg) {
                alert(msg.responseText);
            }
        });
    });

    function test_var() {

        /*<![CDATA[*/
        model_name= [[${model_name}]];
        console.log("点击新增变量了---"+model_name);
        /*]]>*/
        var VarName = $.trim($('#var_name').val());
        //var IndependentSubcontract = $.trim($('#Independent_subcontract').val());
        var ScanRate = $.trim($('#ScanRate').val());
        var HL = $.trim($('#HL').val());
        var Area = $.trim($('#Area').val());
        var Address = $.trim($('#Address').val());
        var DataType = $.trim($('#DataType').val());
        var VarType = $.trim($('#VarType').val());
        var ControlBit = $.trim($('#ControlBit').val());
        var BitOffset =  $.trim($('#BitOffset').val());
        var DataLength = $.trim($('#dataLength').val());
        var ReadWrite = $.trim($('#read_write').val());
        var Description = $.trim($('#description').val());

        var RawMax = $.trim($('#RawMax').val());
        var RawMin = $.trim($('#RawMin').val());
        var RangeMax = $.trim($('#RangeMax').val());
        var RangeMin = $.trim($('#RangeMin').val());
        var DataChange = $.trim($('#DataChange').val());

        if (ScanRate==="慢速周期"){
            ScanRate = "Slow";
        }else if(ScanRate==="中速周期"){
            ScanRate = "Normal";
        }else if(ScanRate==="快速周期") {
            ScanRate = "Fast";
        }
        if (HL==="H--高字节"){
            HL = "H";
        }else if(HL==="L--低字节") {
            HL = "L";
        }
        if (Area==="CO区---线圈状态区"){
            Area = "Coil";
        }else if(Area==="DI区---输入状态区") {
            Area = "DL";
        }else if(Area==="HR区---保持寄存器区") {
            Area = "HR";
        }else if(Area==="AI区---输入寄存器区") {
            Area = "AI";
        }

        if (ControlBit==="是"){
            ControlBit = true;
        }else if (ControlBit==="否"){
            ControlBit = false;
        }

        if (DataChange==="是"){
            DataChange = true;
        }else if (DataChange==="否"){
            DataChange = false;
        }
        console.log(VarName);
        console.log(ScanRate);
        console.log(HL);
        console.log(Area);
        console.log(Address);
        console.log(DataType);
        console.log(VarType);
        console.log(ControlBit);
        console.log(BitOffset);
        console.log(DataLength);
        console.log(ReadWrite);
        console.log(Description);
        console.log(RawMax);
        console.log(RawMin);
        console.log(RangeMax);
        console.log(RangeMin);
        console.log(DataChange);

        switch(DataType)
        {
            case 'char--8位有符号整数':
                DataType = 1;
                break;
            case 'byte--8位有符号整数':
                DataType = 2;
                break;
            case 'short--16位有符号整数':
                DataType = 3;
                break;
            case 'word--16位无符号整数':
                DataType = 4;
                break;
            case 'int32--32位有符号整数':
                DataType = 5;
                break;
            case 'dword--32位无符号整数':
                DataType = 6;
                break;
            case 'float--32单精度浮点数':
                DataType = 7;
                break;
            case 'BCD码--无符号BCD码':
                DataType = 8;
                break;
            case 'int64--64位有符号整数':
                DataType = 9;
                break;
            case 'uint64--64位无符号整数':
                DataType = 10;
                break;
            case 'double--64位双精度浮点数':
                DataType = 11;
                break;
            case 'string--ascii码字符串':
                DataType = 12;
                break;
            case 'buffer--字节数组':
                DataType = 13;
                break;
        }
        temp_table.row.add([
            VarName,
            VarName,
            ScanRate,
            ScanRate,
            Description,
            '编辑',
            '删除'
        ]).draw();

        console.log("after");
        var json = {};
        $.ajax({
            type: "post",
            async: true,
            contentType: "application/json; charset=utf-8",
            url: "dev-template/add-var",
            data: JSON.stringify({
                "ModelName":model_name,
                "VarName": VarName,
                "ScanRate": ScanRate,
                "HL": HL,
                "Area": Area,
                "Address":Address,
                "ControlBit":ControlBit,
                "BitOffset":BitOffset,
                "StringLen":DataLength,
                "DataType": DataType,
                "ReadWrite": ReadWrite,
                "Description":Description,
                "RawMax": RawMax,
                "RawMin": RawMin,
                "RangeMax": RangeMax,
                "RangeMin": RangeMin,
                "DataChange": DataChange
            }),
            success: function (msg) {
                //alert(msg + "添加设备模板成功");
            }, error: function (msg) {
                alert(msg.responseText);
            }
        });
    }

    function delete_modal() {
        console.log("删除按钮进行了点击操作")
        temp_table.row('.selected').remove().draw(false);
    }
</script>
</html>