<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunway.mapper.IIoBaseMapper">

	<select id="isTableExists" resultType="java.lang.Integer">
		SELECT count(*) FROM pg_class WHERE relname=#{table}
	</select>

	<!--addSysBaseList-->
	<insert id="addSysBaseList" parameterType="java.util.List">
		INSERT INTO ${table} (name, mark) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name}, 1)
		</foreach>
	</insert>

	<!--deleteSysBaseList-->
	<delete id="deleteSysBaseList" parameterType="java.util.List">
		DELETE FROM ${table}
		WHERE
		name IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.name}
		</foreach>
	</delete>

	<select id="querySysBaseList" resultType="String" >
		SELECT name FROM ${table}
	</select>

	<!--addBaseList-->
	<insert id="addBaseList" parameterType="java.util.List">
		INSERT INTO ${table} (name, pid, mark) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name}, (SELECT id FROM ${ptable} WHERE name = #{parent}), 1)
		</foreach>
	</insert>

	<!--deleteBaseList-->
	<delete id="deleteBaseList" parameterType="java.util.List">
		DELETE FROM ${table}
		WHERE
		pid = (SELECT id FROM ${ptable} where name = #{parent})
		AND
		name IN
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item.name}
		</foreach>
	</delete>

	<!--queryIoBaseList-->
	<select id="queryIoBaseList" resultType="com.sunway.model.IoBaseEntity" >
		SELECT name FROM ${table}
		WHERE
		pid = (SELECT id FROM ${ptable} WHERE name = #{parent})
		<if test="mark != -1">
			AND mark = ${mark}
		</if>
	</select>

	<!--queryAllIoBase-->
	<select id="queryAllIoBase" resultType="com.sunway.model.IoBaseEntity" >
		SELECT name FROM ${table} WHERE  mark NOT IN (3);
	</select>

	<!--setSysMark-->
	<update id="setSysMark" parameterType="java.util.List">
		UPDATE ${table} SET mark = ${mark}
		WHERE name IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
			#{item.name}
		</foreach>
	</update>

	<!--setMark-->
	<update id="setMark">
		UPDATE ${table} SET mark = ${mark}
		WHERE
		pid = (SELECT id FROM ${ptable} where name = #{parent})
		AND
		name IN
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
			#{item.name}
		</foreach>
	</update>

	<!--Device-->
	<insert id="addIoDevices" parameterType="java.util.List">
		INSERT INTO ${table} (name, pid, template_id, description, prop_conf, mark) VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name},
			(SELECT id FROM ${ptable} WHERE name = #{parent}),
			(SELECT id FROM ${tempTable} WHERE name = #{tempName}),
			#{item.description},
			XML'${item.propConf}',
			1)
		</foreach>
	</insert>

	<select id="queryIoDevices" resultMap="deviceMap">
		SELECT (name, description, prop_conf) FROM ${table}
		WHERE
		pid = (SELECT id FROM ${ptable} WHERE name = #{parent})
		<if test="mark != -1">
			AND mark = ${mark}
		</if>
	</select>

	<!--Variables-->
	<select id="queryVarsFromDevice" resultMap="ioVarMap">
		select name, description, data_type, prop_conf
		from ${varTable}
		where pid = (select template_id from ${devTable} where name= #{devName})
	</select>

	<select id="queryVarsFromTemplate" resultMap="ioVarMap">
		select name, description, data_type, prop_conf
		from ${varTable}
		where pid = (select id from ${tempTable} where name= #{template})
	</select>

	<!--AlarmConfigByVar-->
	<select id="queryAlarmConfigByVar" resultMap="alarmConfigMap">
		select name, alarm_type, alarm_conf from ${alarmTable}
		where id = (select alarm_id from ${varTable} where name = #{varName})
	</select>

	<!--AlarmConfig-->
	<select id="queryAlarmConfig" resultMap="alarmConfigMap">
		select name, alarm_type, alarm_conf from ${alarmTable}
		where mark = ${mark}
	</select>

	<!--DeviceMap-->
	<resultMap id="deviceMap" type="com.sunway.model.IoDevice">
		<id property="name" column="name" />
		<result property="description" column="description"/>
		<result property="propConf" column="prop_conf"/>
	</resultMap>

	<!--AlarmConfigType-->
	<resultMap id="alarmConfigMap" type="com.sunway.model.IoAlarmConfig">
		<id property="name" column="name" />
		<result property="conf" column="alarm_conf"/>
		<result property="type" column="alarm_type"/>
	</resultMap>

	<!--DriverType-->
	<resultMap id="ioVarMap" type="com.sunway.model.IoVariable">
		<id property="name" column="name" />
		<result property="description" column="description"/>
		<result property="dataType" column="data_type"/>
		<result property="propConf" column="prop_conf"/>
		<!--<result property="propDataChange" column="prop_data_change"/>
		<result property="propRangeMin" column="prop_range_min"/>
		<result property="propRangeMax" column="prop_range_max"/>
		<result property="propRawMin" column="prop_raw_min"/>
		<result property="propRawMax" column="prop_raw_max"/>-->
	</resultMap>
	
	<insert id="addIoVariables" parameterType="java.util.List">
		INSERT INTO ${varTable} (name, pid, alarm_id, description, data_type, prop_conf, mark)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.name},
			(SELECT id FROM ${tempTable} WHERE name = #{template}),
			<if test="alarm == null">
				0,
			</if>
			<if test="alarm != null">
				(SELECT id FROM ${alarmTable} WHERE name = #{alarm}),
			</if>
			<if test="item.description==null">
				#{item.name},
			</if>
			<if test="item.description!=null">
				#{item.description},
			</if>
			#{item.dataType},
			XML'${item.propConf}',
			1)
		</foreach>
	</insert>

	<select id="queryUpdateMaxValue" resultType="java.lang.Integer">
		SELECT MAX(version) AS  max_ver FROM ${updateTable}
	</select>

	<select id="queryUpdateTablesByVersion" resultType="java.util.List">
		SELECT table_name from ${updateTable} WHERE  version > ${version}
	</select>
</mapper>