<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunway.mapper.IIoDriverTypesMapper">

	<select id="queryDriverTypes" resultMap="ioDriverTypeMap" >
		SELECT name, description, communication_type FROM io_driver_types where mark=1
	</select>

	<resultMap id="ioDriverTypeMap" type="com.sunway.model.IoDriverType">
		<id property="name" column="name" />
		<result property="description" column="description"/>
		<result property="communicationType" column="communication_type"/>
		<!--<result property="mark" column="mark"/>-->
	</resultMap>
</mapper>